h4 {
	font-size: 20px;
	padding: 0px;
}
body {
	background-color: #fff;
}

.entire_page {
	
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #eee;
	text-align: justify;
}

#survey {
	background-color: #eee;
	float: left;
	width: 100%;
}

#comment {
	width: 100%;
}

a {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

#activities_left {
	color: red;
	float: left;
	width: 50%;
	background-color: #eee;
}

#activities_right {
	float: right;
	color: blue;
	width: 50%;
	background-color: #eee;
}

#test_page_table td{
	width: 50%;
	vertical-align: top;
	
}

.history_span {
	color: #339933;
	cursor: default;
}

.graph_table {
	width: 10px;
}

.graph_table td {
	text-align: center;

}
.graph_table .left{
	width: 10px;
	
}

.footer {
	color: #505050;
	text-align: center;
}

.centered {
	text-align: center;
}

label:hover{
	color: skyblue;
	background-color: black;
}
input[type=radio] {
	margin-right: 0px;
	margin-left: 6px;
}

input[type=checkbox] {
	margin-right: 0px;
}

.results_not_started {
	font-style: italic;
}

.progress {
	font-weight: bold;
}

.detailed_info {
	color: red;
	margin-left: 10px;
}



a.selected {
  background-color:yellow;
  color:white;
  /*z-index:100;*/
}

.messagepop {
	background-color:#CCCCCC;
  /*border:1px solid #999999;*/
  /*cursor:default;*/
  /*display:none;*/
 /* margin-top: 15px;*/
	position:absolute;
	/*border: 1px solid black;*/
 /* text-align:left;*/
	max-width: 40%;
 /* z-index: 0;*/
  
 /* padding: 25px 25px;*/
 /* background-color: red;*/
}

.messagepop p, .messagepop.div {
  /*border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
  z-index: 50;
  background-color: blue;*/
}

#graph_div {
	/*z-index: 100;*/
	width: 400px;
	height: 200px;
}

.inline {
	display: inline;
	cursor: default;
}

.no_data {
	text-align: center;
	font-style: bold;
	color: red;
}

.survey_table td {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}